body {
    margin: 0;
    height: 100vh; /* Usa l'intera altezza della finestra */
    display: flex;
    justify-content: center; /* Centra orizzontalmente */
    align-items: center; /* Centra verticalmente */
}


canvas {
    border: 12px solid #d3d3d3;
    width: 50%; /* Larghezza del canvas (50% della larghezza del body) */
    height: 600px; /* Altezza fissa del canvas */
}